<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>{{question.question}}</h2>
    <form action="/answer" method="post">
        {% for choice in question.choices %}
        <label>
            <input type="radio" name="answer" value="{{choice}}">
            {{ choice }}
        </label><br>
        {% endfor %}

        <button> Next </button>
        
    </form>
</body>
</html>